@charset "UTF-8";

.inner_atc {
    margin: 0 auto;
    padding-bottom: 200px;
}

.tit_atc {
	height: 100px;
    text-align: center;
    background: #ca99e3;
    line-height: 100px;
    width : 100%;
    margin-bottom : 10px;
}
.tit_atc h3 {
	color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

body {
    font-size: 19px;
    line-height: 1.5;
    color: #333;
    margin : 0;
}

.board_comm {
	width: 800px;
    border-top: 2px solid #000;
    margin: 0 auto;
}

.view_head .tit_view {
	margin: 0;
	padding: 0;
    height: 70px;
    padding: 0 30px;
    line-height: 68px;
    background: #c1b9d0;
    color: #fff;
}


.view_head .info_head {
    height: 30px;
    padding: 21px 30px 19px;
    line-height: 27px;
    background: #e3e3e6;
    color: #919191;
}
.view_head .writer_info {
    float: left;
    min-width: 50%;
}

.info_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_head dl {
    margin: 0; /* dl 요소의 기본 마진을 제거합니다. */
    display: flex;
    align-items: center;
}

dd {
    display: block;
    margin-inline-start: 5px;
    unicode-bidi: isolate;
}

.info_head .writer_info {
    flex-grow: 1; /* 작성자 정보를 최대한 확장합니다. */
}

.info_head .date_info {
    flex-shrink: 0; /* 작성일, 조회수 정보를 축소하지 않습니다. */
}



.view_head .info_head dt:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 2px 7px 0 10px;
    background: #cecece;
}
.view_head .info_head dt, .view_head .info_head dd {
    display: inline;
}
.view_head .link_writer {
    display: inline-block;
}
.view_head .link_writer .ico_board_tier {
    position: relative;
    top: -2px;
    margin-right: 3px;
    background-position: -60px -120px;
    display: inline-block;
    width: 28px;
    height: 28px;
}
.view_head .link_writer .txt_writer {
    color: #333;
    font-size: 14px;
    vertical-align: top;
}
.view_head .date_info {
    float: right;
}
.view_head .date_info .tit_info ~ .tit_info {
    margin-left: 15px;
}


.view_cont {
    overflow: hidden;
    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid #d9dbde;
    word-break: break-all;
    background-color: #ffffff;
}

.content {
	 padding: 25px 30px !important;
    -webkit-backface-visibility: hidden;
    margin: 0;
    word-wrap: break-word;
    color: #333;
    font-size: 20px;
    min-height: 370px;
    font-family: -apple-system, BlinkMacSystemFont, AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
     line-height: 1.7;
}
.content > :first-child {
    margin-top: 0 !important;
}

<!--수정, 삭제, 윗글, 아랫글, 목록 -->

div {
    display: block;
    unicode-bidi: isolate;
   
}

.board_comm .view_btn {
    padding: 20px 0 70px;
    font-size: 0;
}
.view_btn .wrap_modify {
    float: right;
}
div {
    margin: 0;
    padding: 0;
}


.view_btn .wrap_modify .btn_board {
    width: 140px;    
}

.btn_board1:hover {
    background-color: #f19a09;
}
.btn_board:hover {
    text-decoration: none;
}


.btn_board+.btn_board {
    margin-left: 10px;
}

.btn_board1 {
    background-color: #ca99e3;
}
.btn_board {
    display: inline-block;
    width: 160px;
    height: 52px;
    line-height: 48px;
    border: 1px solid #d9dedb;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    color: #646464;
    vertical-align: top;
}



.view_btn .wrap_page a {
    overflow: hidden;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 1px solid #d9dbde;
    background-color: #f0f1f2;
}
a {
    color: #333;
    text-decoration: none;
}
.view_btn .wrap_page .img_board {
    margin: 0 auto;
}

.view_btn .btn_list .img_board {
    width: 15px;
    height: 12px;
    margin-top: 19px;
    background-position: -60px -20px;
}

.img_board {
    background-image: url(//t1.kakaocdn.net/gamepub/pub/battlegrounds/images/img_board_200821.png);
}

.img_board {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background: no-repeat;
}



a {
    color: #333;
    text-decoration: none;
}


.view_btn .btn_next .img_board {
    width: 14px;
    height: 7px;
    margin-top: 22px;
    background-position: -45px -30px;
}

.img_board {
    background-image: url(//t1.kakaocdn.net/gamepub/pub/battlegrounds/images/img_board_200821.png);
}
.view_btn .btn_prev .img_board {
    width: 14px;
    height: 7px;
    margin-top: 22px;
    background-position: -45px -40px;
}