::-webkit-scrollbar {
    width: 10px;
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ca99e3, skyblue);
    border-radius: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
    background: #000000;
}

::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(to right, #ca99e3, skyblue);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-text {
    color: white;
    font-size: 20px;
    margin: 0;
    padding-left: 15px;
  
}

.simple_logo4 img {
	width: 220%; /* 이미지 크기 조정 */
    height: auto;
}

.simple_logo4 {
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
	
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden; 
    width: 400px;
  
}

.member_join_form {
    padding: 20px;
   	padding-top: 0px;
   	padding-bottom: 5px; 
}

#divId {
	position: relative;
    display: flex;
    align-items: center;
}

#divId > #user_id{
	flex-grow: 1;
    border-radius: 5px;
    padding-right: 80px;
    box-sizing: border-box;
}

#memberId_check {
	position: absolute;
	bottom: 5px;
    right: 10px;
    border-radius: 5px;
    height: 60%;
    bottom: 16px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    background-color: #c080e8;
    border: none;
    color: white;
   
}


.input {
    width: calc(100% - 2px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 18px;
}

.input:focus {
    outline: none;
    border-color: #ae59e1;
}

.adult_list {
	border-radius: 5px;
	background-color: #ffffff;
    box-sizing: border-box;
    padding-left:0px;
    white-space: nowrap;
   	display: flex;
    justify-content: space-between;
}

.adult_list li {
    display: inline-block; /* 인라인 블록 요소로 배치 */
    vertical-align: top; /* 위쪽 정렬 */
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}


.adult_list .radio_item {
    width: 50%;
}

.radio_item:first-of-type {
    border-radius: 4px 0 0 4px;
}

.radio_item {
    display: inline-block;
    vertical-align: top;
}

.radio_item label {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 0;
    border-radius: inherit;
    border: 2px solid #c6c6c6;
    font-size: 14px;
    line-height: 18px;
    color: #929294;
    text-align: center; 
}

.adult_list .radio_item {
    width: 50%;
}
.radio_item:last-of-type {
    border-radius: 0 4px 4px 0;
}
.radio_item+.radio_item {
    margin-left: -1px;
}

.radio_item {
    display: inline-block;
    vertical-align: top;
} 

.radio_item input:checked+label {
    z-index: 1;
    border-color: #ae59e1;
    font-weight: 800;
    color: #ae59e1;
    border: 2px solid;
    
}

label {
    cursor: pointer;
}


.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 50vw;
  margin: 0 auto;
 
}

#return_button {
  flex: 1 1 auto;
  color: white;	
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  background-size: 200% auto;
  margin: 10px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  border-color: transparent;
  transition: background-position 0.5s;
  text-align: center;
  text-transform: uppercase;
  width: 340px;
}

#return_button:hover {
  background-position: right center; /* change the direction of the change here */
}


#join_button  {
  flex: 1 1 auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  background-size: 200% auto;
  border-color: transparent;
  margin: 10px;
  padding: 20px;
  margin-bottom:10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-position 0.5s;
  text-align: center;
  text-transform: uppercase;
  width: 340px;
}

#join_button:hover {
  background-position: right center; /* change the direction of the change here */
}


<!-- search_id file CSS -->

.search_content_header1 {
	color: white;
    font-size: 18px;
} 

.header-text {
    color: white;
    font-size: 30px;
    margin: 0;
    padding-top: 20px
}

.simple_logo4 img {
	width: 250px; /* 이미지 크기 조정 */
    height: auto;
}

.choice_m {
    padding: 25px 10px 25px 10px;
    color: #ffffff;
    letter-spacing: -1px;
    text-align: center;
    font-size: 18px;
    padding-top: 0px;
}

.phone_icon {
	width: 80px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.email_icon {
	width: 141px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.choice_list .choice_item {
    width: 80%;
    
}

.choice_list {
	border-radius: 5px;
	background-color: #000000;
    box-sizing: border-box;
    padding-left:0px;
    white-space: nowrap;
   	display: flex;
    align-items: stretch;
    text-align: center;    
    justify-content: space-between;
}

.choice_list li {
    display: inline-block; /* 인라인 블록 요소로 배치 */
    vertical-align: top; /* 위쪽 정렬 */
}


.choice_item:first-of-type {
    border-radius: 4px 0px 0px 4px;
}

.choice_item label {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 0;
    border-radius: inherit;
    border: 2px solid #c6c6c6;
    font-size: 14px;
    line-height: 18px;
    color: #929294;
    text-align: center;
}

.choice_item label h4 {
	color : #ffffff;
	margin-bottom: 20px;
}

.choice_list .choice_item {
    width: 80%;
}
.choice_item:last-of-type {
    border-radius: 0 4px 4px 0;
}
.choice_item+.choice_item {
    margin-left: -1px;
}

.choice_item {
    display: inline-block;
    vertical-align: top;
} 

.choice_item input:checked+label {
    z-index: 1;
    border-color: #d2a4ee;
    font-weight: 800;
    color: #d2a4ee;
    border: 2px solid;
    background-color: #000000;
}



#next_button:hover {
  background-position: right center; /* change the direction of the change here */
}
 
<!-- search file css --> 


.link_wrap {
    display: flex;
    align-items: center;
}

.link_text {
    display: inline;
}


.link_wrap .link_text {
    line-height: 40px;
    color: #ffffff;   
}

.link_wrap {
    margin-top: 20px;
   	text-align: center;
 }
 
.txt {
    color: #b9dcff;
	font-weight: bold;
}


.member_search_form {
    padding: 20px;
   	padding-top: 0px;
   	padding-bottom: 5px; 
}

.button_container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 50vw;
  margin: 0 auto;
}

 #next_button  {
  flex: 1 1 auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  background-size: 200% auto;
  border-color: transparent;
  margin: 10px;
  padding: 20px;
  margin-bottom:10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-position 0.5s;
  text-align: center;
  text-transform: uppercase;
  width: 375px;
}


#return_button2 {
  flex: 1 1 auto;
  color: white;	
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  background-size: 200% auto;
  margin: 10px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  border-color: transparent;
  transition: background-position 0.5s;
  text-align: center;
  text-transform: uppercase;
  width: 375px;
}


.button_container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 50vw;
  margin: 0 auto;
}

 #next_button3  {
  flex: 1 1 auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  background-size: 200% auto;
  border-color: transparent;
  margin: 10px;
  padding: 20px;
  margin-bottom:10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-position 0.5s;
  text-align: center;
  text-transform: uppercase;
  width: 335px;
}


#return_button3 {
  flex: 1 1 auto;
  color: white;	
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  background-size: 200% auto;
  margin: 10px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  border-color: transparent;
  transition: background-position 0.5s;
  text-align: center;
  text-transform: uppercase;
  width: 335px;
}